/* body {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

h1 {
    display: flex;
    /* Define como flex */
    justify-content: center;
    /* Alinha ao centro da tela na horizontal */
}

form {
    display: grid;
    /* Define como grid */
    grid-template-columns: 1fr 1fr;
    /* Cria colunas */
    grid-template-rows: 1fr;
    margin: 0 auto;
    /* Alinha ao centro da tela na horizontal */
    max-width: 400px;
    /* Define a largura maxima */
}

form div {
    padding: 5px;
}

.right{
    margin-left: 23px;
}

.checkbox {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
}

.shifts {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.range {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
}

.range input {
    width: 60%;
}

.range-control {
    display: flex;
    justify-content: space-between;
}

.textarea {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 5;
}

.email {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 6;    
}

.phone {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 7;    
}

.submit {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 8;  
    margin: 0 auto;
}