body {
    background-color: white;
    /* background: linear-gradient(to bottom, #313431 0%, #00002c 100%); */
    height: 100vh;
    color: black;
}

section {
    margin: 100px auto 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border: 4px solid #050505;
    border-radius: 10px;
}

h1 {
    display: flex;
    /* Define como flex */
    justify-content: center;
    /* Alinha ao centro da tela na horizontal */
    font-family: 'Signika', sans-serif;
}

form {
    display: grid;
    /* Define como grid */
    grid-template-columns: 1fr 1fr;
    /* Cria colunas */
    grid-template-rows: 1fr;
    margin: 0 auto;
    /* Alinha ao centro da tela na horizontal */
    max-width: 400px;
    /* Define a largura maxima */
}

form div {
    padding: 5px;
}

label {
    font-family: 'Almarai', sans-serif;
    font-weight: 700;
}

input {
    border: 2px solid black;
    border-radius: 5px;
}

select {
    border: 2px solid black;
    border-radius: 5px;
    align-self: center;
}

.select {
    display: flex;
    flex-direction: column;   
    margin-top: 10px;
}

.select label {
    margin-bottom: 10px;
    align-self: center;    
}

[right] {
    margin-left: 23px;
}

.genderContainer {
    display: flex;
    flex-direction: column;   
    margin-top: 10px;
    align-self: center;
}

.genderContainer label {
    align-self: center;
}

.genderContainer .genderOption {
    margin: 0 auto;
}

[centralizer] {
    transform: translateX(-3px);
}

.gender {
    cursor: pointer;
    appearance: none;
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50%;
    outline: none;
    border: 2px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gender:before {
    content: '';
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: gray;
    opacity: 0;
}

.gender:checked:before {
    opacity: 1;
    transition: 600ms;
}

.genderOption {
    display: flex;
    padding: 0;
}

.checkbox {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
}

.shifts {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.shifts div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.shift {
    cursor: pointer;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 0;
    outline: none;
    border: 2px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shift:before {
    border-radius: 0;
    width: 6px;
    height: 10px;
    background: none;
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    transform: rotate(45deg);
    bottom: 3px;
    content: '';
    /* position: absolute; */
    opacity: 0;
}

.shift:checked:before {
    opacity: 1;
    transition: 600ms;
}

.range {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
}

.range-control {
    display: flex;
    justify-content: space-between;
}

#range {
    appearance: none;
    background: white;
    outline: none;
    width: 60%;
    height: 8px;
    border-radius: 9px;   
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 25px;
    border-radius: 10%; 

    background: black;
    cursor: pointer;
}

#range::-moz-range-thumb {
    width: 15px;
    height: 25px;
    border-radius: 10%;

    background: black;
    cursor: pointer;
}

.textarea {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 5;
}

textarea {
    border-radius: 5px;
    border: 2px solid black;
}

.email {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 6;
}

.phone {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 7;
}

.submit {
    display: grid;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 8;
    margin: 0 auto;
}