* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #242423;
    height: 100vh;
    color: #E8EDDF;
}

.thanks {
    display: grid;
    margin: 0 auto;
    margin-top: 300px;
    width: 400px;
    height: 200px;
    font-family: 'Almarai', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
}

h1 {
    margin-top: 40px;
    height: 100px;
}

@media(max-width: 485px) {
    .thanks {
        margin-top: 200px;
        width: 300px;
        font-size: 1.3rem;
    }
}